.location-bar {
    display: flex;
    padding: 32px 120px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    color: var(--white);
    background: var(--blue-bg);
  }

  @media screen and (max-width: 45rem) {
    .location-bar {
      justify-content: center;
    }

  }