.weather {
    display: flex;
    padding: 32px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
}

.weather-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white);
    padding: 24px;
    gap: 24px;
    border-radius: 12px;
}

.weather-icon {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 9999px;
    background-color: var(--blue-light);
}

.weather-data {
    display: flex;
    width: 220px;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
}